.split {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: black;
}

/* .carousel-item{
    background-color: #F7F7FC; 
} */
.splitr {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background: linear-gradient(
      to top,
      #D8EAFF 0%,
      #D8EAFF 50%,
      #F7F7FC 50%,
      #F7F7FC 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* Control the right side */
.right {
    right: 0;
    /*background-color: red;*/
  }

.hfont{
    /* position: absolute;
    width: 396px;
    height: 48px;
    left: 994px;
    top: 177px; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1C2C42;
  }

  .btn{
    position: absolute;
    left: 250px;
  }

  .introimg{
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .intro{
    padding-bottom: 35px;
    font-size:small;
  }
  .introi{
    padding-bottom: 3px;
    font-size:small;
  }

  .copyri{
    position: absolute;
    bottom: 0;
    margin-right: 20%;
  }

  /* .copyp{
    margin-left: 20%;
  } */
  
  form {
    width:65%;
    height:135px;
    /* margin:auto; */
    /* position:relative; */
    left:0;
    }

    /* #user{
      box-sizing: border-box;

position: absolute;
width: 396px;
height: 52px;
left: 994px;
top: 338px;

border: 1px solid #E9EBEF;
border-radius: 4px;
    } */
